/*Navbar - Start*/
nav ul {
    margin: 0;
    float: right;
}

header .nav {
    width: 100%;
    top: 0px;
    position: fixed;
    transition: top .5s;
}

.brand-logo img{
  width: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  height: 70px;
}

.primary-nav {
    background-color: #fff;
    height: 70px;
}

.right li {
    margin-left: 40px;
}

.right li a {
    color: #455a64;
    padding-left: 0px;
    padding-right: 0px;
    border-bottom: 6px solid transparent;
    text-transform: uppercase;
    transition: all 0.3s ease-out;
}

.right li a:hover {
    border-bottom-color: #03a9f4;
    background-color: transparent;
}
/*Navbar - End*/

/*Home - Start*/
#home {
  background: url(../img/_MG_3975.svg) no-repeat fixed center center / cover;
  width: 100%;
  height: 100%;
  position: relative;
}

#home .sec-overlay {
  background: rgba(0, 0, 0, .8);
  width: 100%;
  height: 100%;
}

.home-content {
  color: #fff;
  display: table-cell;
  vertical-align: middle;
}

.center-align {
  text-align: center;
}

.home-inner {
  display: table;
  height: calc(100vh - 50px);
  padding-top: 80px;
  width: 100%;
}

.home-title {
  font-size: 72px;
  font-weight: 700;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 15px;
  margin-left: 0;
  text-transform: uppercase;
}

.home-subtitle {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 38px;
  text-transform: uppercase;
}

/*Home - End*/
/*Contedudo - Start*/
/*Quem Somos - Start */
#quemsomos {
  display: flex;
  background-color: #f7f7f7;
}

#quemsomos img {
  margin-top: 45px;
}

#quemsomos h2 {
  color: #000;
  font-size: 3.125rem;
  margin-bottom: 15px;
  text-align: center;
}

#quemsomos a {
  color: #000;
}

#quemsomos p {
  font-size: 1rem;
  text-align: center;
}
/*Quem Somos - End*/
/*Iniciativas - Start*/
#iniciativas .row .header {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#iniciativas .header span {
  font-size: 28px;
}

#iniciativas .header p {
  font-size: 16px;
}


/*Iniciaticas - End*/
/*Agenda - Start*/
/*Agenda - End*/
/*Equipe - Start*/  
#equipe {
  background-color: #f7f7f7;
}

#equipe .container  {
  display: flex;
}

#equipe .row {
  margin-left: auto;
  margin-right: auto;
}

#equipe .row .header {
  padding: 2em 0 0;
  text-align: center;
}

#equipe .header span {
  font-size: 28px;
}

#equipe .header p {
  font-size: 16px;
}

#equipe .card-content .card-title {
  text-align: center;
}

#equipe .card-content p {
  text-align: center;
}
/*Equipe - End*/

/*Contato - Start*/
#contato .container {
  display: flex;
}

#contato .row {
  margin-left: auto;
  margin-right: auto;
}

#contato .header {
  padding: 2em 0 0;
  text-align: center;
}

#contato .header span {
  font-size: 28px;
}

#contato .header p {
  font-size: 16px;
}
/*Contato - End*/


/*Conteudo - End*/


/*Footer - Start*/
.page-footer {
  background-color: #808080;
}

.page-footer p {
  text-align: justify;
}

.page-footer a {
  color: #fff;
}

.page-footer .l6 a {
  color: rgba(0, 0, 0, 0.5);
}

.page-footer .footer-copyright {
  background: rgba(0, 0, 0, 0.15);
}
/*Footer - End*/